body {
    background-color: #ffffff;
  }

  #flexTop{
        display:flex;
    height: 15vh;
    width: 100%;
    /* justify-content: center; */
  /* align-items: center; */
        /* justify-content: center; */
  }

  #flex0{
    /* display:block; */
    height: 100vh;
    width: 15%;
    justify-content: flex-start;
  border: solid 1px black;
  text-align: left;
  
    /* height: 200px; */
    /* align-self: flex-start; */
  }

  .equipArea{
    margin-left: 10px;
    justify-content: left;
  }

  div.equipArea:first-child {
    margin-top: 30px;
}


  #flex1{
    height: 15vh;
    width: 70%;
    /* flex-direction: row; */
    border: solid 1px black;
    /* height: 200px; */
    /* align-self: flex-start; */
    background-color: #0a0a23;
    color: #ffffff;
    /* padding: 10px; */
  }

  li.topBar{
    display:inline-block;
    padding: 10px;
    border: solid 1px rgb(230, 229, 229);
    margin: 5px;
  }

  .notyet{
    color: grey;
    border: grey;
  }


  #flex2{
    display:block;
    height: 100vh;
    width: 15%;
    border: solid 1px black;
    /* justify-content: right;
  align-items: right; */
    /* justify-content: center; */
  }
  #flex3{
    display:block;
    /* justify-content: center; */
  }
  
  #flex4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

  /* #topBar {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
    display:block;
  } */


.debug{
  display:none;
}


  li {
    list-style: none;
  }

  #rightBar{
    margin-left: -30px;
    margin-right: 5px;
  }


  #text {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    flex-direction: column; /* Set flex direction to column */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text within the container */
    /* padding-bottom: 25vh; */
    }

  #runText {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    display: none;
  }
  
  #initText {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    display: none;
  }

  #afterText  {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    display: none;
  }

  #intro {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    /* margin-top: 190px; */
    display: none;
  }
  
  #game {
    width: 68%;
    max-height: 600px;
    background-color: #ffffff;
    color: #ffffff;
    /* border: solid 1px black; */
    padding-top: 20px;
    margin-top: 20px; /* Adjust as needed */
    display: flex; /* Add display flex */
    flex-direction: column; /* Set flex direction to column */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
  }

/* #button1{
  margin-left: auto;
  margin-right: auto;
} */
  
.menus{
  display: none;
}


#characterList{
padding:0px;
}

#characterAll{
  display: none;
  padding-top: 10px;
}

.characterMenuStats{
  font-size: 22px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.characterMenuStatsSmall{
  font-size: 18px;
  /* font-weight: bold; */
  font-family:Arial, Helvetica, sans-serif;
}

#characterSkillsList{
  padding:0px;
}


  #inventoryAll{
    position: absolute;
    top:173px;
    left: 300px;
    max-width: 58%;
    margin: auto;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
#statBar {
  margin-left: -30px;
}


  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }

  #buttonContainer {
     flex-direction: column;
    align-items: center;
}
  
  .buttonRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

  .combatButtons{
    flex-grow: 1;
    margin: 0 50px;
    font-size: 20px;
    display: none;
  }

  .afterCombatButtons{
    display:none;
  }

  #room{
  height: 25%;
  width: 25%;
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  }

  .enemyPic{
  /* height: 150px; */
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: none;
  }


  #titleNC{
    all: unset;
    display:none;
        /* width: 40vh; */
       text-align: center;
    /* margin-right: auto; */
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    /*
    padding-bottom: 5px; */
    }


#mapImage{
  height: 40px;
max-width: 60%;
display: none;
/* margin-left: auto;
    margin-right: auto; */
}

#mapHolder {
    width: 100%; 
    position: relative; 
    align-items: center;
    justify-content: center; 
    display: flex; 
    margin-top: 60px;
}



  .maps{
    display:none;
    height: 40vh;
    /* width: 40vh; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    /* background-image: */
        }
  
/* #elementHolder{
  position: relative;
  margin-left: auto;
    margin-right: auto;
} */

    img.mapElements{
      position: relative;
      height: 150px;
      width: 150px;

      /* left:50%; */
    
      /* left: 610px; */
/*       
      height: 150px;
      width: 150px; */
    }




    /* .maps:first-child{
      display:block;
    } */
  
    .enemy{
      display: none;
    }

  /* #e0, #e1, #e2{
    height: 40vh;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: none;
  } */

  #monsterProperties{
    display: block;
    /* height: 25%;
    width: 25%; */
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #000000;
    background-color: #c9c9c9;
  }

 

  li.item {
    position: relative; /* Make the list item a positioning context for the absolute positioning of the category text */
    padding: 10px;
    border: 1px solid #0a0a23;
    text-align: center;
}

.item-category {
    position: absolute;
    top: 5px; /* Adjust the vertical position as needed */
    left: 50%;
    transform: translateX(-50%); /* Center the category text horizontally */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background color for better visibility */
    padding: 5px; /* Optional: Add padding for better appearance */
}

img.item {
    display: block;
    margin: 5px auto; /* Center the image horizontally */
}



  #inventoryAll{
    display: none;
  }